.tabela {
  margin: auto;
}
.adicionar {
  display: block;
  text-align: center;
  padding: 10px;
}
.content {
  width: 300px;
}
.adicionar input {
  width: 22%;
  min-width: 320px;
}
.hour {
  float: right;
  color: grey;
}
.button {
  margin: 2px;
  text-align: center;
  border-color: #0d1217;
  background-color: #22223b;
  float: inline-end;
}
body {
  background-color: #22223b;
  color: white;
}
